* {
    margin: 0;
    padding: 0;
}

.top-navbar {
    background: #121212f2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    width: 100%;
}

.leftnav {
    padding-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.rightnav {
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.navicon {
    height: 1.5em;
    display: flex;
    align-items: center;
}

.navelem {
    font-family: "Karla";
    padding: 1em;
}

.threedim-model {
    margin: 0 auto;
    width: 500px;
    height: 500px;
}


@keyframes animatedBackground {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

.title-card {
    padding: 2em;
    padding-top: 15em;
    text-align: left;
    background: linear-gradient(0.35turn, #11584D, #764E3C, #8B690D);
    background-size: 300%;
    height: 10em;
    /* background: #121212;
    background-image: url("images/test_anim.svg"); */
    animation: animatedBackground 20s linear infinite alternate;
}

.about-card {
    padding: 2em;
    padding-top: 15em;
    text-align: left;
    background: linear-gradient(0.35turn, #11584D, #764E3C, #8B690D);
    background-size: 300%;
    height: 10em;
    background-image: url("images/DSC02058-min.png");
    background-size: cover;
    background-position: 50%;
}

.big-name {
    font-family: "Prata";
    color: #f0f0f0;
    font-size: 4em;
}

.big-title {
    font-family: "Prata";
    color: #f0f0f0;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.project-card {
    background: #f0f0f0;
    width: 98%;
    height: 200px;
    text-align: center;
    margin: 1%;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 10%);
    color: #f0f0f0;
    transition: all 0.2s ease-in-out;
}

.project-card:hover {
    background-color: rgba(255, 255, 255, 50%);
    color: #121212;
    transform: rotate3d(1, 1, 1, 15deg);
}

@media (min-width: 1000px) {
    .project-card {
        width: 23%;
    }
}

@media (min-width: 600px) and (max-width: 1000px) {
    .project-card {
        width: 48%;
    }
}

#test_proj_img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 2% 0;
}

.image-vertical {
    width: 30.76923%;
}

.image-horizontal {
    width: 69.23076%;
}

body {
    background: #121212;
}

li {
    display: inline;
    text-align: center;
    vertical-align: bottom;
    color: #f0f0f0;
}

a {
    color: #f0f0f0;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}
